
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

footer p {
    text-align: center;
}

footer h3 {
    text-align: center;
}

footer > div:not(:last-child) {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.faq {
    text-align: center;
}

