
  @import url('https://fonts.googleapis.com/css2?family=Afacad&family=Rethink+Sans:ital,wght@0,400;1,500&family=Rubik+Bubbles&display=swap');
  h1,h2,h3{
    font-size: 20px;
    kerning: 0.5em;
    background-color: red;
   
}