<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Card</title>
    <link rel="stylesheet" href="/CSS/blog-card.css" as="style">
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@401,400&display=swap" rel="stylesheet">
    <script src="js/javascript.js"></script>
</head>
<body>

    <object>
        <div class="container">
            <h2>Other topics</h2>
            <div class="first-div">
                <h3>How to find your real shoe size</h3>
                <img src="/images/patrick-mueller-n-J3ZyJLPjs-unsplash.jpg" alt=" pictures of shoes">
                <p>Discover the art of selecting the trendiest and most stylish shoes that suit your personality and fashion preferences. This blog post guides you through the latest shoe trends, color choices, and design elements, helping you make a fashion statement with your footwear.</p>
            </div>
    
            <div class="second-div">
                <h3>Learn how to find the perfect shoe!</h3>
                <img src="/images/usama-akram-kP6knT7tjn4-unsplash.jpg" alt="pictures of shoes">
                <p>Dive into the world of finding the ideal shoes for every occasion. From casual to formal, this blog post offers tips on matching shoes with outfits, considering comfort and style, and building a versatile shoe collection. Elevate your fashion game by learning the art of choosing the perfect pair for any situation.</p>
            </div>
        </div>
    </object>
</body>
</html>