
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/CSS/footer.css" as="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/js/javascript.js"></script>
   
</head>
<body>
   
    <object>
        <footer>
            <div>
                <p><strong>U can find us:</strong></p>
                <h3>Google Branch Map</h3>
                
               
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92240.85346360042!2d15.88561485!3d43.74115885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13352615d088d09d%3A0x400ad50862bcc20!2zxaBpYmVuaWs!5e0!3m2!1sen!2shr!4v1704205925708!5m2!1sen!2shr" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          
    
            <div>
                <h3>Contact Information:</h3>
                <p><em>TEL:</em>: 022 766181</p>
                <p><em>OIB</em> 123456789</p>
                <p><em>Email</em>: coolshoes@example.com</p>
                <p><em>Address</em>: 123 Cool Shoes, Cool Shoes City</p>
            </div>
    
           
    
            <div>
                <a href="https://policies.google.com/terms" target="_blank">Terms and Conditions</a>
                
                <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a>
                <a href="cookies.html">Cookie Policy</a>
            </div>


            <div class="faq">
                <a href="/faq.html" target="_parent">FAQ :</a>
                <a href="/faq.html" target="_parent"><p>If u have any question feel free to ask</p></a>
              
            </div>
    
            <div>

                <a href="/company.html" target="_parent"><p>Signature Web Development - Maraska.d.o.o.</p></a>
                
            </div>
        </footer>
    </object>
    
    
</body>
</html>